:root {
	--color-primary: #00ffbb;
	--color-accent: #9370db;
}
* {
	box-sizing: border-box;
}
*:focus {
	outline: none;
}
body {
	padding: 12px;
	margin: 0 auto;
	font-family: sans-serif;
}
header {
	display: grid;
	grid-template-columns: 1fr 1fr;
	width: fit-content;
  margin: 0 auto;
	font-weight: bold;
}
header section:first-of-type {
	grid-column-start: 1;
  grid-column-end: 3;
}
header section div span {
	display: inline-block;
}
header section div span:first-of-type {
	margin-right: 12px;
}
header section:not(:first-of-type) {
	width: 120px;
}
h1 {
	margin: 0 0 12px 0;
}
main {
	margin: 12px auto;
	height: calc(100dvh - 320px - 52px - 46px);
	background-color: rgba(0, 0, 0, 0.25);
	border-radius: 6px;
	padding: 12px;
	overflow: auto;
}
main span {
	position: relative;
	font-family: sans-serif;
	width: fit-content;
	min-height: 20px;
	white-space: normal;
	font-size: 20px;
	line-height: 20px;
	margin: 0;
}
main label {
	display: inline-block;
	width: 4px;
	height: 20px;
	margin: 0 0 -3px 4px;
	animation: blink 500ms linear infinite alternate;
}
footer {
	display: flex;
}
dialog {
	display: none;
	justify-content: center;
	align-items: center;
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
  height: 100vh;
	backdrop-filter: blur(10px);
	border: none;
	opacity: 0;
}
dialog section {
	display: flex;
	align-items: center;
	height: fit-content;
  padding: 12px;
	border-radius: 6px;
	box-shadow: 0 4px 12px 6px rgba(0, 0, 0, 0.5);
}
dialog section svg {
	margin-left: 12px;
	cursor: pointer;
}
dialog.open {
	display: flex;
	animation: fadein 250ms ease-in-out forwards;
}
dialog.close {
	animation: fadein 250ms ease-in-out reverse forwards;
}
button {
	height: 52px;
	aspect-ratio: 1/1;
	border: none;
	text-transform: uppercase;
}
button:not(#clear) {
	border-radius: 6px;
	padding: 12px;
}
button:not([disabled=true]) {
	cursor: pointer;
}
button[disabled=true] {
	opacity: 0.5;
	cursor: not-allowed;
}
#clear {
	border-radius: 50%;
	overflow: hidden;
	margin-right: auto;
	background-color: unset;
	transition: background-color 250ms ease-in-out;
}
#connectBLE {
	background-color: #0070ff;
}
#connectUSB {
	background-color: #778ba5;
	margin-right: 12px;
}
@keyframes blink {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
@keyframes fadein {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
@media (prefers-color-scheme: dark) {
	body {
		color: whitesmoke;
		background-color: #121212;
	}
	main {
		background-color: rgba(255, 255, 255, 0.1);
	}
	main label {
		background-color: rgba(255, 255, 255, 0.25);;
	}
	dialog {
		color: whitesmoke;
		background-color: rgb(0, 0, 0, 0.5);
	}
	button {
		color: #333;
	}
	button svg, dialog svg {
		fill: whitesmoke;
	}
	#clear:active {
		background-color: rgba(255, 255, 255, 0.1);
	}
}
@media (prefers-color-scheme: light) {
	body {
		color: #333;
		background-color: whitesmoke;
	}
	main {
		background-color: rgba(0, 0, 0, 0.1);
	}
	main label {
		background-color: #333;
	}
	dialog {
		color: #333;
		background-color: rgb(255, 255, 255, 0.5);
	}
	button {
		color: #333;
	}
	button svg, dialog svg {
		fill: #333;
	}
	#clear:active {
		background-color: rgba(0, 0, 0, 0.1);
	}
}